# vscode
.vscode

# npm
node_modules
package-lock.json

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# ignore output folder
dist/

# Comment one of the following lock file in your plugin!
pnpm-lock.yaml
npm-lock.yaml
